rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /steps/{document=**} {
      allow list, write: if request.auth.uid == resource.data.owner_uid;
      allow create: if request.auth.uid != null;
      allow get: if true;
    }
    
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}
